{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "printWidth": 80
}
