/* Ash dots animation */

.ashGroup {
  animation: ashRise 50s linear infinite;
  animation-delay: 0.25s;
  background: transparent;
  box-shadow: 1419px 114px #000, 1041px 430px #000, 394px 759px #000,
    864px 654px #000, 1097px 1026px #000, 1122px 1964px #000, 1902px 1339px #000,
    75px 1378px #000, 217px 366px #000, 972px 931px #000, 23px 1534px #000,
    1104px 1666px #000, 569px 1822px #000, 275px 662px #000, 1371px 1249px #000,
    1962px 1072px #000, 928px 370px #000, 545px 358px #000, 147px 806px #000,
    1777px 783px #000, 1720px 772px #000, 472px 590px #000, 219px 275px #000,
    896px 206px #000, 1217px 1419px #000, 481px 1683px #000, 844px 1943px #000,
    996px 251px #000, 1434px 914px #000, 1574px 813px #000, 1965px 509px #000,
    1311px 1362px #000, 43px 1736px #000, 1685px 1010px #000, 677px 1510px #000,
    1282px 630px #000, 1564px 695px #000, 96px 1028px #000, 139px 685px #000,
    1789px 1082px #000, 1044px 481px #000, 485px 374px #000, 958px 736px #000,
    1243px 793px #000, 1680px 1468px #000, 1520px 1971px #000,
    1606px 1070px #000, 1906px 1453px #000, 1517px 531px #000, 1564px 190px #000,
    1291px 1741px #000, 884px 1665px #000, 1559px 1943px #000,
    1904px 1080px #000, 1731px 1617px #000, 968px 522px #000, 346px 1386px #000,
    421px 318px #000, 504px 1468px #000, 862px 1595px #000, 290px 1961px #000,
    830px 802px #000, 43px 1191px #000, 582px 252px #000, 1784px 689px #000,
    1663px 1081px #000, 86px 343px #000, 1281px 1798px #000, 863px 276px #000,
    1671px 120px #000, 1854px 1388px #000, 1033px 1928px #000,
    1624px 1078px #000, 1031px 918px #000, 420px 505px #000, 568px 1135px #000,
    248px 75px #000, 214px 36px #000, 217px 1026px #000, 849px 863px #000,
    1407px 83px #000, 1173px 1465px #000, 389px 216px #000, 1889px 1249px #000,
    250px 545px #000, 845px 1788px #000, 1022px 1879px #000, 898px 533px #000,
    1600px 1105px #000, 1753px 958px #000, 1073px 1223px #000, 1972px 429px #000,
    1469px 1115px #000, 1975px 1229px #000, 1487px 382px #000, 1638px 470px #000,
    816px 1633px #000, 425px 363px #000, 1746px 1476px #000, 995px 1333px #000,
    1370px 401px #000, 1643px 407px #000, 166px 265px #000, 1272px 1881px #000,
    1978px 1389px #000, 779px 309px #000, 57px 1383px #000, 1926px 995px #000,
    34px 165px #000, 853px 1792px #000, 847px 1663px #000, 1132px 933px #000,
    34px 1288px #000, 1862px 1567px #000, 393px 1785px #000, 306px 178px #000,
    843px 406px #000, 1021px 1786px #000, 1727px 1552px #000, 443px 413px #000,
    1322px 319px #000, 1306px 715px #000, 1170px 202px #000, 761px 771px #000,
    589px 1556px #000, 1051px 1697px #000, 1875px 1836px #000, 308px 351px #000,
    549px 452px #000, 1143px 764px #000, 488px 1212px #000, 1124px 1166px #000,
    1661px 839px #000, 604px 746px #000, 1152px 391px #000, 448px 1942px #000,
    215px 1710px #000, 658px 272px #000, 1561px 1047px #000, 1523px 1675px #000,
    845px 1433px #000, 1943px 376px #000, 991px 921px #000, 1493px 1167px #000,
    566px 1597px #000, 940px 907px #000, 1319px 535px #000, 33px 372px #000,
    292px 1930px #000, 811px 269px #000, 1627px 1645px #000, 845px 1855px #000,
    239px 494px #000, 1313px 1379px #000, 1136px 27px #000, 964px 1273px #000,
    1741px 607px #000, 85px 1640px #000, 1650px 1193px #000, 1207px 800px #000,
    1833px 1744px #000, 544px 943px #000, 1470px 547px #000, 884px 1122px #000,
    416px 918px #000, 1259px 1523px #000, 259px 525px #000, 1715px 1010px #000,
    1227px 77px #000, 703px 761px #000, 1351px 573px #000, 402px 1027px #000,
    1578px 756px #000, 1617px 1687px #000, 838px 1587px #000, 1809px 1850px #000,
    1717px 1174px #000, 454px 1422px #000, 1187px 1165px #000, 1886px 158px #000,
    1097px 1424px #000, 488px 1781px #000, 1402px 887px #000, 970px 1812px #000,
    585px 21px #000, 65px 1325px #000, 219px 1254px #000, 1400px 1804px #000,
    1316px 1373px #000, 567px 1393px #000, 1005px 419px #000, 681px 1422px #000,
    1332px 1094px #000, 89px 1923px #000, 579px 149px #000, 1829px 45px #000,
    850px 1532px #000, 208px 1525px #000, 792px 1174px #000, 38px 695px #000,
    447px 742px #000, 225px 386px #000, 66px 889px #000, 896px 601px #000,
    1595px 1481px #000, 588px 1888px #000, 76px 541px #000, 1925px 1638px #000,
    552px 833px #000, 997px 737px #000, 877px 732px #000, 1937px 932px #000,
    1879px 1272px #000, 786px 1999px #000, 1345px 1139px #000, 216px 932px #000,
    1696px 1423px #000, 1581px 1853px #000, 1789px 1149px #000,
    1444px 308px #000, 1308px 636px #000, 605px 1049px #000, 1379px 469px #000,
    1013px 1843px #000, 1126px 591px #000, 1878px 364px #000, 163px 68px #000,
    1251px 1718px #000, 1901px 1011px #000, 1028px 545px #000, 1419px 598px #000,
    236px 1557px #000, 1108px 223px #000, 1734px 881px #000, 1889px 1471px #000,
    1380px 407px #000, 677px 995px #000, 1897px 1246px #000, 1145px 1351px #000,
    1605px 452px #000, 1300px 1756px #000, 585px 799px #000, 1043px 1234px #000,
    888px 230px #000, 965px 1122px #000, 421px 1823px #000, 1878px 1380px #000,
    1111px 405px #000, 723px 878px #000, 236px 1839px #000, 671px 852px #000,
    396px 924px #000, 1261px 1356px #000, 1156px 524px #000, 583px 427px #000,
    1519px 1196px #000, 1208px 394px #000, 1652px 883px #000, 325px 1045px #000,
    1741px 1px #000, 1037px 887px #000, 327px 646px #000, 167px 506px #000,
    1004px 1513px #000, 1826px 273px #000, 717px 1352px #000, 1756px 1968px #000,
    1505px 1109px #000, 1685px 990px #000, 610px 986px #000, 1288px 109px #000,
    502px 1885px #000, 486px 439px #000, 793px 529px #000, 1752px 166px #000,
    305px 1434px #000, 114px 316px #000, 1267px 1041px #000, 1207px 71px #000,
    1080px 1418px #000, 163px 421px #000, 662px 674px #000, 1179px 257px #000,
    433px 381px #000, 67px 1890px #000, 1236px 675px #000, 246px 1958px #000,
    1690px 841px #000, 1247px 1418px #000, 291px 1123px #000, 910px 1881px #000,
    23px 569px #000, 1730px 1390px #000, 85px 267px #000, 1347px 1077px #000,
    288px 1060px #000, 493px 1215px #000, 851px 557px #000, 1058px 1448px #000,
    379px 988px #000, 1695px 1700px #000, 978px 501px #000, 1765px 1806px #000,
    1844px 1577px #000, 1306px 15px #000, 1315px 1245px #000, 710px 1604px #000,
    918px 690px #000, 1426px 1187px #000, 1573px 1368px #000, 1748px 484px #000,
    439px 1584px #000, 1230px 1247px #000, 1662px 930px #000, 764px 1862px #000,
    1558px 797px #000, 1064px 994px #000, 96px 186px #000, 928px 1965px #000,
    269px 498px #000, 1665px 1760px #000, 1040px 218px #000, 1727px 848px #000,
    646px 1168px #000, 963px 1928px #000, 924px 353px #000, 209px 1001px #000,
    1139px 210px #000, 774px 559px #000, 207px 477px #000, 1599px 102px #000,
    1631px 1783px #000, 90px 687px #000, 1359px 635px #000, 1441px 809px #000,
    1088px 1484px #000, 209px 992px #000, 1892px 318px #000, 854px 459px #000,
    813px 1717px #000, 303px 545px #000, 287px 40px #000, 1505px 1329px #000,
    457px 1955px #000, 1498px 968px #000, 1846px 273px #000, 1225px 1441px #000,
    1117px 1545px #000, 187px 1025px #000, 1116px 263px #000, 262px 316px #000,
    99px 1029px #000, 521px 1338px #000, 1402px 521px #000, 1167px 925px #000,
    818px 1289px #000, 909px 454px #000, 1468px 381px #000, 1833px 1636px #000,
    1378px 430px #000, 206px 224px #000, 1440px 194px #000, 1739px 1430px #000,
    903px 1245px #000, 798px 1452px #000, 1641px 516px #000, 1707px 1963px #000,
    906px 953px #000, 544px 1428px #000, 616px 712px #000, 745px 360px #000,
    1857px 748px #000, 951px 1712px #000, 1647px 1670px #000, 1330px 749px #000,
    1460px 1206px #000, 1752px 1788px #000, 51px 679px #000, 1938px 150px #000,
    984px 962px #000, 380px 205px #000, 1664px 798px #000, 1453px 1316px #000,
    1199px 818px #000, 508px 1091px #000, 1992px 1681px #000, 1525px 320px #000,
    492px 1609px #000, 967px 817px #000, 203px 1081px #000, 1512px 1106px #000,
    1134px 1590px #000, 1136px 634px #000, 1882px 373px #000, 1562px 1127px #000,
    1386px 1964px #000, 1575px 17px #000, 296px 1174px #000, 1974px 968px #000,
    51px 881px #000, 940px 1977px #000, 1570px 367px #000, 1395px 1478px #000,
    533px 1522px #000, 1170px 1336px #000, 1136px 342px #000, 386px 780px #000,
    963px 1781px #000, 1874px 633px #000, 804px 1737px #000, 846px 1367px #000,
    954px 959px #000, 1035px 1558px #000, 1185px 1915px #000, 414px 1499px #000,
    994px 1970px #000, 240px 385px #000, 212px 1945px #000, 1736px 380px #000,
    1740px 1957px #000, 126px 582px #000, 1143px 930px #000, 1232px 606px #000,
    1102px 838px #000, 1668px 345px #000, 1237px 1531px #000, 1789px 1939px #000,
    561px 1975px #000, 958px 1699px #000, 1162px 128px #000, 808px 295px #000,
    1822px 426px #000, 1961px 273px #000, 1330px 1531px #000, 444px 339px #000,
    743px 360px #000, 1557px 152px #000, 1852px 1302px #000, 1794px 205px #000,
    682px 1685px #000, 853px 1758px #000, 1006px 225px #000, 496px 1268px #000,
    580px 1098px #000, 1590px 1984px #000, 1625px 605px #000, 383px 694px #000,
    774px 1297px #000, 498px 1386px #000, 1918px 258px #000, 471px 1608px #000,
    388px 1137px #000, 1575px 222px #000, 70px 1245px #000, 1677px 1416px #000,
    1661px 1119px #000, 1788px 132px #000, 822px 1719px #000, 519px 757px #000,
    898px 1299px #000, 254px 1028px #000, 1361px 649px #000, 1672px 669px #000,
    285px 262px #000, 969px 383px #000, 1717px 209px #000, 35px 1036px #000,
    937px 1818px #000, 980px 519px #000, 105px 271px #000, 276px 1112px #000,
    829px 530px #000, 146px 1538px #000, 1856px 1789px #000, 345px 496px #000,
    1879px 734px #000, 1540px 1479px #000, 1926px 1311px #000, 1736px 780px #000,
    790px 336px #000, 721px 1135px #000, 856px 1560px #000, 1302px 573px #000,
    503px 1472px #000, 696px 48px #000, 1637px 1896px #000, 198px 807px #000,
    1651px 228px #000, 947px 259px #000, 1054px 378px #000, 164px 857px #000,
    1917px 821px #000, 232px 1940px #000, 1193px 1606px #000, 1327px 1172px #000,
    555px 1657px #000, 1981px 1913px #000, 622px 598px #000, 709px 709px #000,
    135px 128px #000, 898px 870px #000, 1104px 467px #000, 346px 1257px #000,
    1679px 853px #000, 735px 1915px #000, 323px 1909px #000, 820px 491px #000,
    1649px 1156px #000, 1861px 1028px #000, 1548px 475px #000,
    1168px 1752px #000, 612px 886px #000, 904px 1250px #000, 147px 476px #000,
    256px 1906px #000, 1774px 1476px #000, 817px 869px #000, 1998px 943px #000,
    1143px 1538px #000, 195px 1305px #000, 1981px 662px #000, 1949px 641px #000,
    469px 1440px #000, 1204px 1860px #000, 1177px 601px #000, 191px 1322px #000,
    175px 454px #000, 1953px 1033px #000, 1941px 1264px #000, 1175px 963px #000,
    621px 122px #000, 1842px 623px #000, 32px 1969px #000, 381px 1863px #000,
    1353px 1268px #000, 407px 296px #000, 181px 1488px #000, 401px 575px #000,
    1380px 1467px #000, 378px 690px #000, 1926px 116px #000, 1695px 125px #000,
    1462px 299px #000, 1903px 1384px #000, 456px 180px #000, 1458px 1535px #000,
    1652px 711px #000, 1927px 1095px #000, 292px 1202px #000, 1379px 1683px #000,
    1274px 865px #000, 1984px 1896px #000, 1673px 1825px #000, 918px 1126px #000,
    1201px 246px #000, 159px 440px #000, 1577px 1625px #000, 1077px 331px #000,
    1376px 1312px #000, 1864px 1296px #000, 333px 1441px #000, 53px 1735px #000,
    1757px 1444px #000, 959px 329px #000, 53px 1017px #000, 1987px 1641px #000,
    670px 1961px #000, 513px 1770px #000, 657px 1216px #000, 675px 1901px #000,
    1346px 325px #000, 1895px 1141px #000, 507px 419px #000, 769px 105px #000,
    1565px 1669px #000, 1973px 539px #000, 1894px 187px #000, 1523px 513px #000,
    1471px 1793px #000, 306px 133px #000, 822px 302px #000, 1061px 393px #000,
    55px 965px #000, 1126px 1283px #000, 542px 1142px #000, 1197px 1484px #000,
    1257px 1390px #000, 914px 582px #000, 791px 659px #000, 1067px 536px #000,
    1379px 1411px #000, 223px 992px #000, 1986px 876px #000, 1812px 973px #000,
    1028px 1292px #000, 964px 867px #000, 72px 775px #000, 915px 338px #000,
    313px 291px #000, 728px 1459px #000, 64px 1880px #000, 488px 1245px #000,
    613px 1283px #000, 1411px 1407px #000, 936px 1261px #000, 150px 1468px #000,
    199px 1327px #000, 1976px 1871px #000, 437px 781px #000, 717px 115px #000,
    168px 1516px #000, 1400px 115px #000, 160px 1449px #000, 1479px 208px #000,
    426px 590px #000, 179px 1017px #000, 1697px 1236px #000, 1142px 1795px #000,
    1615px 1360px #000, 989px 1041px #000, 816px 205px #000, 1167px 985px #000,
    197px 1340px #000, 1221px 464px #000, 1176px 1653px #000, 25px 1919px #000,
    521px 1232px #000, 1454px 813px #000, 220px 1501px #000, 748px 163px #000,
    968px 207px #000, 1188px 49px #000, 236px 970px #000, 1565px 327px #000,
    11px 1972px #000, 1052px 1557px #000, 515px 1905px #000, 209px 326px #000,
    1999px 1103px #000, 725px 1988px #000, 1451px 1141px #000, 1358px 817px #000,
    938px 1887px #000, 890px 1757px #000, 899px 1357px #000, 996px 1602px #000,
    1176px 1656px #000, 166px 195px #000, 235px 23px #000, 1550px 1810px #000,
    1463px 319px #000, 639px 1254px #000, 1317px 1554px #000, 1804px 508px #000,
    320px 845px #000, 869px 646px #000, 1066px 379px #000, 1205px 1023px #000,
    649px 1575px #000, 1212px 1603px #000, 1561px 310px #000, 1833px 720px #000,
    1729px 1037px #000, 1047px 170px #000, 1836px 155px #000, 879px 1798px #000,
    813px 1161px #000, 186px 1068px #000, 1348px 139px #000, 1027px 1083px #000,
    541px 758px #000, 1673px 18px #000, 1298px 1341px #000, 57px 582px #000,
    1682px 459px #000, 424px 1708px #000, 520px 1081px #000, 166px 818px #000,
    765px 880px #000, 1031px 347px #000, 749px 461px #000, 809px 74px #000,
    1472px 1285px #000, 1003px 241px #000, 38px 1056px #000, 80px 854px #000,
    1542px 539px #000, 464px 355px #000, 1158px 613px #000, 1577px 474px #000,
    135px 773px #000, 1651px 445px #000, 1634px 792px #000, 38px 74px #000,
    1422px 157px #000, 1222px 17px #000, 1873px 1493px #000, 888px 1340px #000,
    1507px 1111px #000, 527px 1848px #000;
  height: 1px;
  opacity: 0;
  width: 1px;
  z-index: 0;
}
.ashGroup:after {
  background: transparent;
  box-shadow: 1419px 114px #000, 1041px 430px #000, 394px 759px #000,
    864px 654px #000, 1097px 1026px #000, 1122px 1964px #000, 1902px 1339px #000,
    75px 1378px #000, 217px 366px #000, 972px 931px #000, 23px 1534px #000,
    1104px 1666px #000, 569px 1822px #000, 275px 662px #000, 1371px 1249px #000,
    1962px 1072px #000, 928px 370px #000, 545px 358px #000, 147px 806px #000,
    1777px 783px #000, 1720px 772px #000, 472px 590px #000, 219px 275px #000,
    896px 206px #000, 1217px 1419px #000, 481px 1683px #000, 844px 1943px #000,
    996px 251px #000, 1434px 914px #000, 1574px 813px #000, 1965px 509px #000,
    1311px 1362px #000, 43px 1736px #000, 1685px 1010px #000, 677px 1510px #000,
    1282px 630px #000, 1564px 695px #000, 96px 1028px #000, 139px 685px #000,
    1789px 1082px #000, 1044px 481px #000, 485px 374px #000, 958px 736px #000,
    1243px 793px #000, 1680px 1468px #000, 1520px 1971px #000,
    1606px 1070px #000, 1906px 1453px #000, 1517px 531px #000, 1564px 190px #000,
    1291px 1741px #000, 884px 1665px #000, 1559px 1943px #000,
    1904px 1080px #000, 1731px 1617px #000, 968px 522px #000, 346px 1386px #000,
    421px 318px #000, 504px 1468px #000, 862px 1595px #000, 290px 1961px #000,
    830px 802px #000, 43px 1191px #000, 582px 252px #000, 1784px 689px #000,
    1663px 1081px #000, 86px 343px #000, 1281px 1798px #000, 863px 276px #000,
    1671px 120px #000, 1854px 1388px #000, 1033px 1928px #000,
    1624px 1078px #000, 1031px 918px #000, 420px 505px #000, 568px 1135px #000,
    248px 75px #000, 214px 36px #000, 217px 1026px #000, 849px 863px #000,
    1407px 83px #000, 1173px 1465px #000, 389px 216px #000, 1889px 1249px #000,
    250px 545px #000, 845px 1788px #000, 1022px 1879px #000, 898px 533px #000,
    1600px 1105px #000, 1753px 958px #000, 1073px 1223px #000, 1972px 429px #000,
    1469px 1115px #000, 1975px 1229px #000, 1487px 382px #000, 1638px 470px #000,
    816px 1633px #000, 425px 363px #000, 1746px 1476px #000, 995px 1333px #000,
    1370px 401px #000, 1643px 407px #000, 166px 265px #000, 1272px 1881px #000,
    1978px 1389px #000, 779px 309px #000, 57px 1383px #000, 1926px 995px #000,
    34px 165px #000, 853px 1792px #000, 847px 1663px #000, 1132px 933px #000,
    34px 1288px #000, 1862px 1567px #000, 393px 1785px #000, 306px 178px #000,
    843px 406px #000, 1021px 1786px #000, 1727px 1552px #000, 443px 413px #000,
    1322px 319px #000, 1306px 715px #000, 1170px 202px #000, 761px 771px #000,
    589px 1556px #000, 1051px 1697px #000, 1875px 1836px #000, 308px 351px #000,
    549px 452px #000, 1143px 764px #000, 488px 1212px #000, 1124px 1166px #000,
    1661px 839px #000, 604px 746px #000, 1152px 391px #000, 448px 1942px #000,
    215px 1710px #000, 658px 272px #000, 1561px 1047px #000, 1523px 1675px #000,
    845px 1433px #000, 1943px 376px #000, 991px 921px #000, 1493px 1167px #000,
    566px 1597px #000, 940px 907px #000, 1319px 535px #000, 33px 372px #000,
    292px 1930px #000, 811px 269px #000, 1627px 1645px #000, 845px 1855px #000,
    239px 494px #000, 1313px 1379px #000, 1136px 27px #000, 964px 1273px #000,
    1741px 607px #000, 85px 1640px #000, 1650px 1193px #000, 1207px 800px #000,
    1833px 1744px #000, 544px 943px #000, 1470px 547px #000, 884px 1122px #000,
    416px 918px #000, 1259px 1523px #000, 259px 525px #000, 1715px 1010px #000,
    1227px 77px #000, 703px 761px #000, 1351px 573px #000, 402px 1027px #000,
    1578px 756px #000, 1617px 1687px #000, 838px 1587px #000, 1809px 1850px #000,
    1717px 1174px #000, 454px 1422px #000, 1187px 1165px #000, 1886px 158px #000,
    1097px 1424px #000, 488px 1781px #000, 1402px 887px #000, 970px 1812px #000,
    585px 21px #000, 65px 1325px #000, 219px 1254px #000, 1400px 1804px #000,
    1316px 1373px #000, 567px 1393px #000, 1005px 419px #000, 681px 1422px #000,
    1332px 1094px #000, 89px 1923px #000, 579px 149px #000, 1829px 45px #000,
    850px 1532px #000, 208px 1525px #000, 792px 1174px #000, 38px 695px #000,
    447px 742px #000, 225px 386px #000, 66px 889px #000, 896px 601px #000,
    1595px 1481px #000, 588px 1888px #000, 76px 541px #000, 1925px 1638px #000,
    552px 833px #000, 997px 737px #000, 877px 732px #000, 1937px 932px #000,
    1879px 1272px #000, 786px 1999px #000, 1345px 1139px #000, 216px 932px #000,
    1696px 1423px #000, 1581px 1853px #000, 1789px 1149px #000,
    1444px 308px #000, 1308px 636px #000, 605px 1049px #000, 1379px 469px #000,
    1013px 1843px #000, 1126px 591px #000, 1878px 364px #000, 163px 68px #000,
    1251px 1718px #000, 1901px 1011px #000, 1028px 545px #000, 1419px 598px #000,
    236px 1557px #000, 1108px 223px #000, 1734px 881px #000, 1889px 1471px #000,
    1380px 407px #000, 677px 995px #000, 1897px 1246px #000, 1145px 1351px #000,
    1605px 452px #000, 1300px 1756px #000, 585px 799px #000, 1043px 1234px #000,
    888px 230px #000, 965px 1122px #000, 421px 1823px #000, 1878px 1380px #000,
    1111px 405px #000, 723px 878px #000, 236px 1839px #000, 671px 852px #000,
    396px 924px #000, 1261px 1356px #000, 1156px 524px #000, 583px 427px #000,
    1519px 1196px #000, 1208px 394px #000, 1652px 883px #000, 325px 1045px #000,
    1741px 1px #000, 1037px 887px #000, 327px 646px #000, 167px 506px #000,
    1004px 1513px #000, 1826px 273px #000, 717px 1352px #000, 1756px 1968px #000,
    1505px 1109px #000, 1685px 990px #000, 610px 986px #000, 1288px 109px #000,
    502px 1885px #000, 486px 439px #000, 793px 529px #000, 1752px 166px #000,
    305px 1434px #000, 114px 316px #000, 1267px 1041px #000, 1207px 71px #000,
    1080px 1418px #000, 163px 421px #000, 662px 674px #000, 1179px 257px #000,
    433px 381px #000, 67px 1890px #000, 1236px 675px #000, 246px 1958px #000,
    1690px 841px #000, 1247px 1418px #000, 291px 1123px #000, 910px 1881px #000,
    23px 569px #000, 1730px 1390px #000, 85px 267px #000, 1347px 1077px #000,
    288px 1060px #000, 493px 1215px #000, 851px 557px #000, 1058px 1448px #000,
    379px 988px #000, 1695px 1700px #000, 978px 501px #000, 1765px 1806px #000,
    1844px 1577px #000, 1306px 15px #000, 1315px 1245px #000, 710px 1604px #000,
    918px 690px #000, 1426px 1187px #000, 1573px 1368px #000, 1748px 484px #000,
    439px 1584px #000, 1230px 1247px #000, 1662px 930px #000, 764px 1862px #000,
    1558px 797px #000, 1064px 994px #000, 96px 186px #000, 928px 1965px #000,
    269px 498px #000, 1665px 1760px #000, 1040px 218px #000, 1727px 848px #000,
    646px 1168px #000, 963px 1928px #000, 924px 353px #000, 209px 1001px #000,
    1139px 210px #000, 774px 559px #000, 207px 477px #000, 1599px 102px #000,
    1631px 1783px #000, 90px 687px #000, 1359px 635px #000, 1441px 809px #000,
    1088px 1484px #000, 209px 992px #000, 1892px 318px #000, 854px 459px #000,
    813px 1717px #000, 303px 545px #000, 287px 40px #000, 1505px 1329px #000,
    457px 1955px #000, 1498px 968px #000, 1846px 273px #000, 1225px 1441px #000,
    1117px 1545px #000, 187px 1025px #000, 1116px 263px #000, 262px 316px #000,
    99px 1029px #000, 521px 1338px #000, 1402px 521px #000, 1167px 925px #000,
    818px 1289px #000, 909px 454px #000, 1468px 381px #000, 1833px 1636px #000,
    1378px 430px #000, 206px 224px #000, 1440px 194px #000, 1739px 1430px #000,
    903px 1245px #000, 798px 1452px #000, 1641px 516px #000, 1707px 1963px #000,
    906px 953px #000, 544px 1428px #000, 616px 712px #000, 745px 360px #000,
    1857px 748px #000, 951px 1712px #000, 1647px 1670px #000, 1330px 749px #000,
    1460px 1206px #000, 1752px 1788px #000, 51px 679px #000, 1938px 150px #000,
    984px 962px #000, 380px 205px #000, 1664px 798px #000, 1453px 1316px #000,
    1199px 818px #000, 508px 1091px #000, 1992px 1681px #000, 1525px 320px #000,
    492px 1609px #000, 967px 817px #000, 203px 1081px #000, 1512px 1106px #000,
    1134px 1590px #000, 1136px 634px #000, 1882px 373px #000, 1562px 1127px #000,
    1386px 1964px #000, 1575px 17px #000, 296px 1174px #000, 1974px 968px #000,
    51px 881px #000, 940px 1977px #000, 1570px 367px #000, 1395px 1478px #000,
    533px 1522px #000, 1170px 1336px #000, 1136px 342px #000, 386px 780px #000,
    963px 1781px #000, 1874px 633px #000, 804px 1737px #000, 846px 1367px #000,
    954px 959px #000, 1035px 1558px #000, 1185px 1915px #000, 414px 1499px #000,
    994px 1970px #000, 240px 385px #000, 212px 1945px #000, 1736px 380px #000,
    1740px 1957px #000, 126px 582px #000, 1143px 930px #000, 1232px 606px #000,
    1102px 838px #000, 1668px 345px #000, 1237px 1531px #000, 1789px 1939px #000,
    561px 1975px #000, 958px 1699px #000, 1162px 128px #000, 808px 295px #000,
    1822px 426px #000, 1961px 273px #000, 1330px 1531px #000, 444px 339px #000,
    743px 360px #000, 1557px 152px #000, 1852px 1302px #000, 1794px 205px #000,
    682px 1685px #000, 853px 1758px #000, 1006px 225px #000, 496px 1268px #000,
    580px 1098px #000, 1590px 1984px #000, 1625px 605px #000, 383px 694px #000,
    774px 1297px #000, 498px 1386px #000, 1918px 258px #000, 471px 1608px #000,
    388px 1137px #000, 1575px 222px #000, 70px 1245px #000, 1677px 1416px #000,
    1661px 1119px #000, 1788px 132px #000, 822px 1719px #000, 519px 757px #000,
    898px 1299px #000, 254px 1028px #000, 1361px 649px #000, 1672px 669px #000,
    285px 262px #000, 969px 383px #000, 1717px 209px #000, 35px 1036px #000,
    937px 1818px #000, 980px 519px #000, 105px 271px #000, 276px 1112px #000,
    829px 530px #000, 146px 1538px #000, 1856px 1789px #000, 345px 496px #000,
    1879px 734px #000, 1540px 1479px #000, 1926px 1311px #000, 1736px 780px #000,
    790px 336px #000, 721px 1135px #000, 856px 1560px #000, 1302px 573px #000,
    503px 1472px #000, 696px 48px #000, 1637px 1896px #000, 198px 807px #000,
    1651px 228px #000, 947px 259px #000, 1054px 378px #000, 164px 857px #000,
    1917px 821px #000, 232px 1940px #000, 1193px 1606px #000, 1327px 1172px #000,
    555px 1657px #000, 1981px 1913px #000, 622px 598px #000, 709px 709px #000,
    135px 128px #000, 898px 870px #000, 1104px 467px #000, 346px 1257px #000,
    1679px 853px #000, 735px 1915px #000, 323px 1909px #000, 820px 491px #000,
    1649px 1156px #000, 1861px 1028px #000, 1548px 475px #000,
    1168px 1752px #000, 612px 886px #000, 904px 1250px #000, 147px 476px #000,
    256px 1906px #000, 1774px 1476px #000, 817px 869px #000, 1998px 943px #000,
    1143px 1538px #000, 195px 1305px #000, 1981px 662px #000, 1949px 641px #000,
    469px 1440px #000, 1204px 1860px #000, 1177px 601px #000, 191px 1322px #000,
    175px 454px #000, 1953px 1033px #000, 1941px 1264px #000, 1175px 963px #000,
    621px 122px #000, 1842px 623px #000, 32px 1969px #000, 381px 1863px #000,
    1353px 1268px #000, 407px 296px #000, 181px 1488px #000, 401px 575px #000,
    1380px 1467px #000, 378px 690px #000, 1926px 116px #000, 1695px 125px #000,
    1462px 299px #000, 1903px 1384px #000, 456px 180px #000, 1458px 1535px #000,
    1652px 711px #000, 1927px 1095px #000, 292px 1202px #000, 1379px 1683px #000,
    1274px 865px #000, 1984px 1896px #000, 1673px 1825px #000, 918px 1126px #000,
    1201px 246px #000, 159px 440px #000, 1577px 1625px #000, 1077px 331px #000,
    1376px 1312px #000, 1864px 1296px #000, 333px 1441px #000, 53px 1735px #000,
    1757px 1444px #000, 959px 329px #000, 53px 1017px #000, 1987px 1641px #000,
    670px 1961px #000, 513px 1770px #000, 657px 1216px #000, 675px 1901px #000,
    1346px 325px #000, 1895px 1141px #000, 507px 419px #000, 769px 105px #000,
    1565px 1669px #000, 1973px 539px #000, 1894px 187px #000, 1523px 513px #000,
    1471px 1793px #000, 306px 133px #000, 822px 302px #000, 1061px 393px #000,
    55px 965px #000, 1126px 1283px #000, 542px 1142px #000, 1197px 1484px #000,
    1257px 1390px #000, 914px 582px #000, 791px 659px #000, 1067px 536px #000,
    1379px 1411px #000, 223px 992px #000, 1986px 876px #000, 1812px 973px #000,
    1028px 1292px #000, 964px 867px #000, 72px 775px #000, 915px 338px #000,
    313px 291px #000, 728px 1459px #000, 64px 1880px #000, 488px 1245px #000,
    613px 1283px #000, 1411px 1407px #000, 936px 1261px #000, 150px 1468px #000,
    199px 1327px #000, 1976px 1871px #000, 437px 781px #000, 717px 115px #000,
    168px 1516px #000, 1400px 115px #000, 160px 1449px #000, 1479px 208px #000,
    426px 590px #000, 179px 1017px #000, 1697px 1236px #000, 1142px 1795px #000,
    1615px 1360px #000, 989px 1041px #000, 816px 205px #000, 1167px 985px #000,
    197px 1340px #000, 1221px 464px #000, 1176px 1653px #000, 25px 1919px #000,
    521px 1232px #000, 1454px 813px #000, 220px 1501px #000, 748px 163px #000,
    968px 207px #000, 1188px 49px #000, 236px 970px #000, 1565px 327px #000,
    11px 1972px #000, 1052px 1557px #000, 515px 1905px #000, 209px 326px #000,
    1999px 1103px #000, 725px 1988px #000, 1451px 1141px #000, 1358px 817px #000,
    938px 1887px #000, 890px 1757px #000, 899px 1357px #000, 996px 1602px #000,
    1176px 1656px #000, 166px 195px #000, 235px 23px #000, 1550px 1810px #000,
    1463px 319px #000, 639px 1254px #000, 1317px 1554px #000, 1804px 508px #000,
    320px 845px #000, 869px 646px #000, 1066px 379px #000, 1205px 1023px #000,
    649px 1575px #000, 1212px 1603px #000, 1561px 310px #000, 1833px 720px #000,
    1729px 1037px #000, 1047px 170px #000, 1836px 155px #000, 879px 1798px #000,
    813px 1161px #000, 186px 1068px #000, 1348px 139px #000, 1027px 1083px #000,
    541px 758px #000, 1673px 18px #000, 1298px 1341px #000, 57px 582px #000,
    1682px 459px #000, 424px 1708px #000, 520px 1081px #000, 166px 818px #000,
    765px 880px #000, 1031px 347px #000, 749px 461px #000, 809px 74px #000,
    1472px 1285px #000, 1003px 241px #000, 38px 1056px #000, 80px 854px #000,
    1542px 539px #000, 464px 355px #000, 1158px 613px #000, 1577px 474px #000,
    135px 773px #000, 1651px 445px #000, 1634px 792px #000, 38px 74px #000,
    1422px 157px #000, 1222px 17px #000, 1873px 1493px #000, 888px 1340px #000,
    1507px 1111px #000, 527px 1848px #000;
  content: ' ';
  height: 1px;
  opacity: 0;
  position: absolute;
  top: 2000px;
  width: 1px;
  z-index: 0;
}

.ashGroup2 {
  animation: ashRise 100s linear infinite;
  animation-delay: 0.25s;
  background: transparent;
  box-shadow: 1280px 1543px #000, 833px 1078px #000, 227px 421px #000,
    910px 1595px #000, 1071px 581px #000, 1923px 1934px #000, 1021px 773px #000,
    1336px 1819px #000, 1786px 386px #000, 1097px 410px #000, 351px 1274px #000,
    1790px 594px #000, 1055px 1847px #000, 290px 1356px #000, 860px 980px #000,
    1378px 577px #000, 1409px 1608px #000, 1706px 35px #000, 315px 137px #000,
    347px 896px #000, 190px 1980px #000, 680px 632px #000, 697px 890px #000,
    1918px 1461px #000, 287px 677px #000, 138px 1271px #000, 1465px 535px #000,
    540px 350px #000, 484px 785px #000, 635px 1864px #000, 1201px 1706px #000,
    303px 617px #000, 203px 1143px #000, 1421px 1281px #000, 615px 336px #000,
    1587px 359px #000, 1631px 95px #000, 856px 1170px #000, 1993px 1238px #000,
    955px 1235px #000, 259px 418px #000, 768px 910px #000, 1734px 1810px #000,
    433px 290px #000, 1979px 1617px #000, 503px 971px #000, 756px 1579px #000,
    344px 1259px #000, 1645px 397px #000, 572px 912px #000, 1885px 1007px #000,
    1704px 1309px #000, 1795px 746px #000, 1740px 1028px #000, 696px 840px #000,
    1519px 814px #000, 1691px 1898px #000, 101px 591px #000, 76px 56px #000,
    132px 494px #000, 1411px 1325px #000, 1638px 272px #000, 1290px 1952px #000,
    1176px 927px #000, 260px 119px #000, 973px 699px #000, 301px 619px #000,
    1711px 1994px #000, 946px 1200px #000, 1195px 450px #000, 116px 309px #000,
    516px 1071px #000, 1228px 974px #000, 597px 473px #000, 182px 1738px #000,
    1328px 280px #000, 1105px 1010px #000, 343px 1156px #000, 1026px 79px #000,
    817px 1037px #000, 1292px 267px #000, 1170px 1382px #000, 1946px 1084px #000,
    237px 1763px #000, 180px 1981px #000, 607px 1541px #000, 789px 1525px #000,
    1989px 107px #000, 377px 78px #000, 629px 1296px #000, 1056px 186px #000,
    1412px 70px #000, 327px 1899px #000, 141px 444px #000, 1038px 100px #000,
    1228px 1571px #000, 873px 1166px #000, 632px 439px #000, 873px 1218px #000,
    586px 215px #000, 966px 672px #000, 1663px 1167px #000, 1004px 1609px #000,
    1400px 833px #000, 13px 1582px #000, 303px 251px #000, 1436px 1582px #000,
    1130px 15px #000, 862px 686px #000, 1340px 418px #000, 279px 1577px #000,
    1024px 1304px #000, 162px 592px #000, 1988px 1771px #000, 1762px 552px #000,
    1402px 761px #000, 785px 314px #000, 1714px 1186px #000, 7px 565px #000,
    1447px 1409px #000, 1083px 501px #000, 1458px 1860px #000, 870px 1288px #000,
    227px 1987px #000, 1917px 206px #000, 414px 278px #000, 1337px 1437px #000,
    1798px 242px #000, 271px 717px #000, 1368px 783px #000, 1859px 1698px #000,
    1219px 672px #000, 1512px 487px #000, 1867px 641px #000, 277px 1095px #000,
    455px 1898px #000, 1630px 446px #000, 1914px 1563px #000, 1467px 1091px #000,
    1971px 962px #000, 1563px 1012px #000, 1288px 1097px #000,
    1601px 1981px #000, 1425px 546px #000, 1916px 385px #000, 1288px 1188px #000,
    851px 47px #000, 773px 1526px #000, 26px 1282px #000, 1904px 965px #000,
    793px 496px #000, 16px 519px #000, 1215px 1867px #000, 1318px 76px #000,
    221px 439px #000, 345px 1702px #000, 1649px 1126px #000, 1916px 442px #000,
    36px 1433px #000, 126px 1094px #000, 797px 448px #000, 1165px 57px #000,
    601px 1391px #000, 1473px 1732px #000, 296px 614px #000, 166px 1828px #000,
    1181px 1581px #000, 1736px 1774px #000, 1792px 513px #000,
    1902px 1066px #000, 1824px 1752px #000, 1156px 1195px #000,
    1068px 300px #000, 557px 26px #000, 1662px 758px #000, 96px 199px #000,
    331px 116px #000, 136px 1106px #000, 1283px 1257px #000, 251px 1833px #000,
    689px 733px #000, 1374px 243px #000, 879px 1947px #000, 1088px 570px #000,
    1099px 1483px #000, 129px 575px #000, 1016px 409px #000, 35px 947px #000,
    494px 1725px #000, 1051px 374px #000, 1675px 991px #000, 607px 190px #000,
    1624px 1507px #000, 1925px 644px #000, 556px 1937px #000, 885px 182px #000,
    1945px 1089px #000, 719px 1186px #000, 1485px 438px #000, 1800px 1101px #000;
  height: 2px;
  opacity: 0;
  width: 2px;
}
.ashGroup2:after {
  background: transparent;
  box-shadow: 1280px 1543px #000, 833px 1078px #000, 227px 421px #000,
    910px 1595px #000, 1071px 581px #000, 1923px 1934px #000, 1021px 773px #000,
    1336px 1819px #000, 1786px 386px #000, 1097px 410px #000, 351px 1274px #000,
    1790px 594px #000, 1055px 1847px #000, 290px 1356px #000, 860px 980px #000,
    1378px 577px #000, 1409px 1608px #000, 1706px 35px #000, 315px 137px #000,
    347px 896px #000, 190px 1980px #000, 680px 632px #000, 697px 890px #000,
    1918px 1461px #000, 287px 677px #000, 138px 1271px #000, 1465px 535px #000,
    540px 350px #000, 484px 785px #000, 635px 1864px #000, 1201px 1706px #000,
    303px 617px #000, 203px 1143px #000, 1421px 1281px #000, 615px 336px #000,
    1587px 359px #000, 1631px 95px #000, 856px 1170px #000, 1993px 1238px #000,
    955px 1235px #000, 259px 418px #000, 768px 910px #000, 1734px 1810px #000,
    433px 290px #000, 1979px 1617px #000, 503px 971px #000, 756px 1579px #000,
    344px 1259px #000, 1645px 397px #000, 572px 912px #000, 1885px 1007px #000,
    1704px 1309px #000, 1795px 746px #000, 1740px 1028px #000, 696px 840px #000,
    1519px 814px #000, 1691px 1898px #000, 101px 591px #000, 76px 56px #000,
    132px 494px #000, 1411px 1325px #000, 1638px 272px #000, 1290px 1952px #000,
    1176px 927px #000, 260px 119px #000, 973px 699px #000, 301px 619px #000,
    1711px 1994px #000, 946px 1200px #000, 1195px 450px #000, 116px 309px #000,
    516px 1071px #000, 1228px 974px #000, 597px 473px #000, 182px 1738px #000,
    1328px 280px #000, 1105px 1010px #000, 343px 1156px #000, 1026px 79px #000,
    817px 1037px #000, 1292px 267px #000, 1170px 1382px #000, 1946px 1084px #000,
    237px 1763px #000, 180px 1981px #000, 607px 1541px #000, 789px 1525px #000,
    1989px 107px #000, 377px 78px #000, 629px 1296px #000, 1056px 186px #000,
    1412px 70px #000, 327px 1899px #000, 141px 444px #000, 1038px 100px #000,
    1228px 1571px #000, 873px 1166px #000, 632px 439px #000, 873px 1218px #000,
    586px 215px #000, 966px 672px #000, 1663px 1167px #000, 1004px 1609px #000,
    1400px 833px #000, 13px 1582px #000, 303px 251px #000, 1436px 1582px #000,
    1130px 15px #000, 862px 686px #000, 1340px 418px #000, 279px 1577px #000,
    1024px 1304px #000, 162px 592px #000, 1988px 1771px #000, 1762px 552px #000,
    1402px 761px #000, 785px 314px #000, 1714px 1186px #000, 7px 565px #000,
    1447px 1409px #000, 1083px 501px #000, 1458px 1860px #000, 870px 1288px #000,
    227px 1987px #000, 1917px 206px #000, 414px 278px #000, 1337px 1437px #000,
    1798px 242px #000, 271px 717px #000, 1368px 783px #000, 1859px 1698px #000,
    1219px 672px #000, 1512px 487px #000, 1867px 641px #000, 277px 1095px #000,
    455px 1898px #000, 1630px 446px #000, 1914px 1563px #000, 1467px 1091px #000,
    1971px 962px #000, 1563px 1012px #000, 1288px 1097px #000,
    1601px 1981px #000, 1425px 546px #000, 1916px 385px #000, 1288px 1188px #000,
    851px 47px #000, 773px 1526px #000, 26px 1282px #000, 1904px 965px #000,
    793px 496px #000, 16px 519px #000, 1215px 1867px #000, 1318px 76px #000,
    221px 439px #000, 345px 1702px #000, 1649px 1126px #000, 1916px 442px #000,
    36px 1433px #000, 126px 1094px #000, 797px 448px #000, 1165px 57px #000,
    601px 1391px #000, 1473px 1732px #000, 296px 614px #000, 166px 1828px #000,
    1181px 1581px #000, 1736px 1774px #000, 1792px 513px #000,
    1902px 1066px #000, 1824px 1752px #000, 1156px 1195px #000,
    1068px 300px #000, 557px 26px #000, 1662px 758px #000, 96px 199px #000,
    331px 116px #000, 136px 1106px #000, 1283px 1257px #000, 251px 1833px #000,
    689px 733px #000, 1374px 243px #000, 879px 1947px #000, 1088px 570px #000,
    1099px 1483px #000, 129px 575px #000, 1016px 409px #000, 35px 947px #000,
    494px 1725px #000, 1051px 374px #000, 1675px 991px #000, 607px 190px #000,
    1624px 1507px #000, 1925px 644px #000, 556px 1937px #000, 885px 182px #000,
    1945px 1089px #000, 719px 1186px #000, 1485px 438px #000, 1800px 1101px #000;
  content: ' ';
  height: 2px;
  opacity: 0;
  position: absolute;
  top: 2000px;
  width: 2px;
  z-index: 0;
}

.ashGroup3 {
  animation: ashRise 150s linear infinite;
  animation-delay: 0.25s;
  background: transparent;
  box-shadow: 878px 1419px #000, 61px 1167px #000, 21px 1235px #000,
    409px 1660px #000, 519px 740px #000, 456px 927px #000, 1839px 581px #000,
    795px 1007px #000, 1441px 697px #000, 1970px 1620px #000, 1812px 446px #000,
    528px 964px #000, 1218px 206px #000, 172px 1681px #000, 1553px 932px #000,
    938px 1007px #000, 1924px 993px #000, 931px 167px #000, 1510px 1770px #000,
    310px 874px #000, 1224px 286px #000, 294px 22px #000, 310px 727px #000,
    1871px 60px #000, 1921px 1015px #000, 569px 522px #000, 1398px 1037px #000,
    517px 165px #000, 768px 1587px #000, 471px 324px #000, 206px 947px #000,
    1534px 268px #000, 449px 1054px #000, 1068px 1304px #000, 376px 573px #000,
    458px 305px #000, 1382px 440px #000, 1312px 978px #000, 374px 442px #000,
    1555px 1467px #000, 1368px 1872px #000, 75px 803px #000, 330px 1408px #000,
    542px 720px #000, 1342px 1909px #000, 1738px 934px #000, 1128px 1091px #000,
    1978px 1661px #000, 1567px 1599px #000, 1868px 239px #000, 554px 1306px #000,
    1072px 391px #000, 1487px 897px #000, 1626px 469px #000, 1368px 1437px #000,
    1811px 625px #000, 411px 1990px #000, 1356px 1856px #000, 1652px 823px #000,
    19px 704px #000, 959px 1724px #000, 1573px 172px #000, 286px 1717px #000,
    102px 607px #000, 115px 1004px #000, 133px 1981px #000, 616px 1147px #000,
    1858px 1485px #000, 319px 1652px #000, 1659px 1352px #000,
    1270px 1573px #000, 1728px 987px #000, 12px 1646px #000, 777px 1860px #000,
    1466px 340px #000, 1668px 179px #000, 1843px 1024px #000, 855px 965px #000,
    831px 1607px #000, 1400px 752px #000, 1155px 1758px #000, 931px 893px #000,
    261px 1376px #000, 1509px 873px #000, 353px 1109px #000, 320px 1264px #000,
    798px 759px #000, 223px 198px #000, 609px 1909px #000, 993px 1613px #000,
    1273px 1023px #000, 489px 1259px #000, 1095px 488px #000, 1830px 976px #000,
    1706px 302px #000, 67px 1077px #000, 1857px 765px #000, 936px 254px #000,
    749px 1566px #000, 1025px 1964px #000;
  height: 3px;
  opacity: 0;
  width: 3px;
  z-index: 0;
}
.ashGroup3:after {
  background: transparent;
  box-shadow: 878px 1419px #000, 61px 1167px #000, 21px 1235px #000,
    409px 1660px #000, 519px 740px #000, 456px 927px #000, 1839px 581px #000,
    795px 1007px #000, 1441px 697px #000, 1970px 1620px #000, 1812px 446px #000,
    528px 964px #000, 1218px 206px #000, 172px 1681px #000, 1553px 932px #000,
    938px 1007px #000, 1924px 993px #000, 931px 167px #000, 1510px 1770px #000,
    310px 874px #000, 1224px 286px #000, 294px 22px #000, 310px 727px #000,
    1871px 60px #000, 1921px 1015px #000, 569px 522px #000, 1398px 1037px #000,
    517px 165px #000, 768px 1587px #000, 471px 324px #000, 206px 947px #000,
    1534px 268px #000, 449px 1054px #000, 1068px 1304px #000, 376px 573px #000,
    458px 305px #000, 1382px 440px #000, 1312px 978px #000, 374px 442px #000,
    1555px 1467px #000, 1368px 1872px #000, 75px 803px #000, 330px 1408px #000,
    542px 720px #000, 1342px 1909px #000, 1738px 934px #000, 1128px 1091px #000,
    1978px 1661px #000, 1567px 1599px #000, 1868px 239px #000, 554px 1306px #000,
    1072px 391px #000, 1487px 897px #000, 1626px 469px #000, 1368px 1437px #000,
    1811px 625px #000, 411px 1990px #000, 1356px 1856px #000, 1652px 823px #000,
    19px 704px #000, 959px 1724px #000, 1573px 172px #000, 286px 1717px #000,
    102px 607px #000, 115px 1004px #000, 133px 1981px #000, 616px 1147px #000,
    1858px 1485px #000, 319px 1652px #000, 1659px 1352px #000,
    1270px 1573px #000, 1728px 987px #000, 12px 1646px #000, 777px 1860px #000,
    1466px 340px #000, 1668px 179px #000, 1843px 1024px #000, 855px 965px #000,
    831px 1607px #000, 1400px 752px #000, 1155px 1758px #000, 931px 893px #000,
    261px 1376px #000, 1509px 873px #000, 353px 1109px #000, 320px 1264px #000,
    798px 759px #000, 223px 198px #000, 609px 1909px #000, 993px 1613px #000,
    1273px 1023px #000, 489px 1259px #000, 1095px 488px #000, 1830px 976px #000,
    1706px 302px #000, 67px 1077px #000, 1857px 765px #000, 936px 254px #000,
    749px 1566px #000, 1025px 1964px #000;
  content: ' ';
  height: 3px;
  opacity: 0;
  position: absolute;
  top: 2000px;
  width: 3px;
  z-index: 0;
}

@keyframes ashRise {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(-2000px);
  }
}

/* ----------------------------------------------------------------------------------------------------- */

/* Cloudworms animation */

.cloudworm {
  background-color: white;
  bottom: 0px;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  left: 0px;
  margin: auto;
  opacity: 0.75;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 100vh;
  width: 0px;
  z-index: -1;
}

.x1 {
  -webkit-animation: floatUp 6s infinite linear;
  -moz-animation: floatUp 6s infinite linear;
  -o-animation: floatUp 6s infinite linear;
  animation: floatUp 6s infinite linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.x2 {
  -webkit-animation: floatUp 10s infinite linear;
  -moz-animation: floatUp 10s infinite linear;
  -o-animation: floatUp 10s infinite linear;
  animation: floatUp 10s infinite linear;
  left: 15%;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
}

.x3 {
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  left: -15%;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}

.x4 {
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  left: -34%;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.x5 {
  -webkit-animation: floatUp 13s infinite linear;
  -moz-animation: floatUp 13s infinite linear;
  -o-animation: floatUp 13s infinite linear;
  animation: floatUp 13s infinite linear;
  left: -57%;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
}

.x6 {
  -webkit-animation: floatUp 5s infinite linear;
  -moz-animation: floatUp 5s infinite linear;
  -o-animation: floatUp 5s infinite linear;
  animation: floatUp 5s infinite linear;
  left: -81%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.x7 {
  -webkit-animation: floatUp 10s infinite linear;
  -moz-animation: floatUp 10s infinite linear;
  -o-animation: floatUp 10s infinite linear;
  animation: floatUp 10s infinite linear;
  left: 62%;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
}

.x8 {
  -webkit-animation: floatUp 5s infinite linear;
  -moz-animation: floatUp 5s infinite linear;
  -o-animation: floatUp 5s infinite linear;
  animation: floatUp 5s infinite linear;
  left: 85%;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

@-webkit-keyframes floatUp {
  0% {
    opacity: 0;
    top: 100vh;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
    top: 0vh;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100vh;
  }
}
@-moz-keyframes floatUp {
  0% {
    opacity: 0;
    top: 100vh;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
    top: 0vh;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100vh;
  }
}
@-o-keyframes floatUp {
  0% {
    opacity: 0;
    top: 100vh;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
    top: 0vh;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100vh;
  }
}
@keyframes floatUp {
  0% {
    opacity: 0;
    top: 100vh;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
    top: 0vh;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100vh;
  }
}
