@font-face {
  font-family: 'Fraunces';
  src: url('/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf')
    format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces';
  src: url('/fonts/fraunces/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf')
    format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}
